<p id="notice"><h1><%= notice %></h1></p>

<h1>Invite Your Linkedin Connections to Gloopt</h1>


<% if current_user.invites_left > 0 %> 
  <% @li_client.connections.map { |c| %> 
      
      <%= link_to name_and_headline(c), '/invites/new/'+c.id  %>  <br />
  <% } %>          
<% else %> 
  <h2>You do not have any invites left.  We will email you when there are more available.  </h2>
<% end %> 

<br />

