<h1>Listing invites</h1>

<h2>Need to add capability to invite users from this list.  Didn't decide 100% how to implement yet.</h2>

        <% @li_client.connections.map { |c| %> 
            <%= c.first_name  %> <%= c.last_name %> <%= c.headline %>  -- <%= c.id %>  <br />
        <% } %>          



<br />

