<div id="menu">
	<ul>
		<li><%= link_to "About", static_pages_about_path %></li>
		<li><%= link_to "Blog", "http://blog.gloopt.com" %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<!-- 
		<li><a href="#">Enterprise</a></li>
	-->
	</ul>
</div>
