<div id="wrap">

<div id="header_wrap">
<div id="header">
	<div id="logo"><a href="http://gloopt.com"><img src="assets/glogo.png" alt="Gloopt" width="108" height="36" border="0" /></a></div>
    <div id="sociallinks">
     	<a href="#"><img src="assets/icons/facebook.png" width="22" height="22" alt="Facebook page" /></a>
    	<a href="http://twitter.com/gloopt"><img src="assets/icons/twitter.png" width="22" height="22" alt="Twitter" /></a>
    	<a href="#"><img src="assets/icons/linkedin.png" width="22" height="22" alt="LinkedIn" /></a>
    <a href="#"><img src="assets/icons/google.png" width="22" height="22" alt="Google +" /></a>
    </div>
</div>
</div>
