<div class="span8 offset2">

	<br /><br /><br />
	<h1>Gloopt</h1><br />
	<h3>Share Your Startup</h3><br />
	<p>Gloopt is a place where startups go to pitch their story to the world.  We believe nothing captures the story of your company better than video, so we built a video platform for you to share your company's message with the world.  
	</p><br />

	<p>Join our waiting list so you can share your startup's story on Gloopt before everyone else!</p>

	<%= render 'form' %>

</div> 
