<div class="span8 offset2">

	<br /><br /><br />
	<h1>Gloopt</h1><br />
	<h3>share your story</h3><br />


	<p>We believe nothing captures the story of your business better than video, so we built a video platform for you to share your message with the world.</p>

	<p>Gloopt is a place where entrepreneurs connect with other entrepreneurs around the world, share ideas and concerns, and get real time feedback by uploading a sixty second video.  Your video could be anything related to your business.</p>

	<%= render 'form' %>

</div> 
