<div class="span8 offset2">

  <br /><br /><br />
  <h1>Gloopt</h1>
  <h3>Share your story</h3><br />


  <p>We believe nothing captures the story of your business better than video, so we built a video platform for you to share your message with the world.</p>

  <p>Gloopt is a place where entrepreneurs connect with other entrepreneurs around the world, share ideas and concerns, and get real time feedback by uploading a sixty second video.  </p><br />

  <a href="/auth/linkedin" class="auth_provider" style="padding:0px;">
    <%= image_tag "linkedin_signup_button.png",  :alt => "Linkedin", :width => 100, :style => "margin-top:2px;  margin-right:20px;" %>
  </a>

</div> 
